{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <script src="js/modernizr.js"></script>




</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <header>
        <div class="container">

            <div class="row">
                <!-- <div class=" col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">-->
                <div class=" col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                    <!-- <h1>Titulo</h1>-->
                    <!--<h1>&nbsp;</h1>-->

                </div>
            </div>
        </div>

    </header>

    <br/>
    <br/>

    <div class="container">
        <section>
            <div class="row">
                <!-- <div class=" col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8"> -->
                <div class=" col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                    <img src="/img/jemz-logo.png" style="width: 100%;border:0;">
                </div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <!-- <div class=" col-xs-5 col-sm-5 col-md-5 col-lg-5">

                </div> -->
                <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                    <table class="table table-condensed table-bordered jemz-border">
                        <tr>
                            <td style="font-family: 'Cabin'; text-align: center; font-size: 90%;"><b><a {% if location == 'about' %}class="active" {% endif %}href="/about/">About</a></b></td>
                            <td style="font-family: 'Cabin'; text-align: center; font-size: 90%;"><b><a {% if location == 'projects' %}class="active" {% endif %}href="/projects/">Projects</a></b></td>
                            <td style="font-family: 'Cabin'; text-align: center; font-size: 90%;"><b><a {% if location == 'blog' %}class="active" {% endif %}href="/blog/">Blog</a></b></td>
                            <td style="font-family: 'Cabin'; text-align: center; font-size: 90%;"><b><a {% if location == 'contact' %}class="active" {% endif %}href="/contact/">Contact</a></b></td>
                        </tr>

                    </table>
                </div>
            </div>

        </section>

        <br/>
        <br/>

        <section>
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                    <p  align="center">
                        This is the home of <a href="/about/">Jorge Martinez</a>. Software Developer and researcher.
                        My thoughts, my tips, my projects... My life bit a bit, byte a byte...
                    </p>
                </div>
            </div>
        </section>


        <section>
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                    <!-- <table class="table table-condensed table-bordered"> -->
                        <p align="center" style="font-size: 90%">
                            &nbsp;<b><a href="#">GitHub</a></b>&nbsp;|&nbsp;<b><a href="#">Twitter</a></b>&nbsp;
                        </p>

                    <!-- </table>-->
                </div>
            </div>
        </section>


        <br/>
        <br/>


        <footer class="color4">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                    <hr/>
                    <p align="center">
                        <small>© 2014 JemZ.</small><br />
                        <small>Made with <a href="http://jekyllrb.com/">Jekyll</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a> &mdash; Layout design based on <a href="http://pixelcog.com">Pixelcog Inc.</a></small>
                    </p>
                </div>
            </div>
        </footer>
    </div>




    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
